/* ユーザー情報テーブル */
 
.user-table {
  vertical-align: middle;
  text-align: center;
}

p {
  margin: -15px;

  }

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
    height: 50px;
    vertical-align: bottom;
    
  }
  td {
    vertical-align: middle;
    text-align:center;
  }

}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 5px;
} 

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 20px;
}



/* ユーザ一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

h4 {
  text-align: right;
  width: 1000px;
}

